{
  "openapi": "3.0.0",
  "info": {
    "title": "Yume Ramen Noodles API",
    "version": "1.0.0",
    "description": "API documentation for Yume Ramen Noodles"
  },
  "servers": [
    {
      "url": "https://yume-api.bram-jesse.sd-lab.nl/api/v1"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "summary": "Login a user",
        "tags": ["Auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful. Tokens are set as HTTP-only cookies.",
            "headers": {
              "Set-Cookie": {
                "schema": {
                  "type": "string",
                  "example": "accessToken=...; HttpOnly; Secure; SameSite=Strict; Path=/; Max-Age=900\nrefreshToken=...; HttpOnly; Secure; SameSite=Strict; Path=/; Max-Age=604800"
                },
                "description": "Secure HTTP-only cookies containing accessToken and refreshToken"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "userId": {
                      "type": "integer"
                    },
                    "role": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing email or password"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "summary": "Refresh access token",
        "tags": ["Auth"],
        "description": "Reads refreshToken from HTTP-only cookie and returns new accessToken via cookie",
        "responses": {
          "200": {
            "description": "New access token generated. New accessToken is set as HTTP-only cookie.",
            "headers": {
              "Set-Cookie": {
                "schema": {
                  "type": "string",
                  "example": "accessToken=...; HttpOnly; Secure; SameSite=Strict; Path=/; Max-Age=900"
                },
                "description": "Secure HTTP-only cookie containing new accessToken"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Refresh token required (missing from cookies)"
          },
          "403": {
            "description": "Invalid or revoked refresh token"
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "summary": "Logout user (revoke refresh token)",
        "tags": ["Auth"],
        "description": "Reads refreshToken from HTTP-only cookie, revokes it from database, and clears both cookies",
        "responses": {
          "200": {
            "description": "Logged out successfully. Cookies are cleared.",
            "headers": {
              "Set-Cookie": {
                "schema": {
                  "type": "string",
                  "example": "accessToken=; HttpOnly; Secure; SameSite=Strict; Path=/; Max-Age=0\nrefreshToken=; HttpOnly; Secure; SameSite=Strict; Path=/; Max-Age=0"
                },
                "description": "Cleared HTTP-only cookies"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Token required (missing from cookies)"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/dishes": {
      "get": {
        "summary": "Returns the list of all dishes",
        "tags": ["Dishes"],
        "responses": {
          "200": {
            "description": "The list of the dishes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Dish"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "summary": "Create a new dish",
        "tags": ["Dishes"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Requires Admin privileges",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["Name", "Price", "Ingredients"],
                "properties": {
                  "Name": {
                    "type": "string"
                  },
                  "Price": {
                    "type": "number",
                    "format": "float"
                  },
                  "Ingredients": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The dish was successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dish"
                }
              }
            }
          },
          "400": {
            "description": "Missing required fields"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/dishes/{id}": {
      "get": {
        "summary": "Get the dish by id",
        "tags": ["Dishes"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The dish id"
          }
        ],
        "responses": {
          "200": {
            "description": "The dish description by id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dish"
                }
              }
            }
          },
          "404": {
            "description": "The dish was not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "summary": "Update the dish by the id",
        "tags": ["Dishes"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Requires Admin privileges",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The dish id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "Name": {
                    "type": "string"
                  },
                  "Price": {
                    "type": "number",
                    "format": "float"
                  },
                  "Ingredients": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The dish was updated"
          },
          "404": {
            "description": "The dish was not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "summary": "Remove the dish by id",
        "tags": ["Dishes"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Requires Admin privileges",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The dish id"
          }
        ],
        "responses": {
          "200": {
            "description": "The dish was deleted"
          },
          "404": {
            "description": "The dish was not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/orders": {
      "get": {
        "summary": "Returns the list of all orders",
        "tags": ["Orders"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The list of the orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "summary": "Create a new order",
        "tags": ["Orders"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["items"],
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["dishID"],
                      "properties": {
                        "dishID": {
                          "type": "integer"
                        },
                        "quantity": {
                          "type": "integer",
                          "default": 1
                        }
                      }
                    }
                  },
                  "delivery_address": {
                    "type": "string"
                  },
                  "paid": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The order was successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "orderId": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required fields"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/orders/{id}": {
      "get": {
        "summary": "Get the order by id",
        "tags": ["Orders"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The order id"
          }
        ],
        "responses": {
          "200": {
            "description": "The order description by id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "404": {
            "description": "The order was not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "summary": "Update the order by the id",
        "tags": ["Orders"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The order id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Status": {
                    "type": "string",
                    "enum": ["ordered", "processing", "delivering", "completed"]
                  },
                  "Paid": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The order was updated"
          },
          "404": {
            "description": "The order was not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "summary": "Remove the order by id",
        "tags": ["Orders"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The order id"
          }
        ],
        "responses": {
          "200": {
            "description": "The order was deleted"
          },
          "404": {
            "description": "The order was not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/users": {
      "get": {
        "summary": "Returns the list of all users",
        "tags": ["Users"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Requires Admin privileges",
        "responses": {
          "200": {
            "description": "The list of the users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "summary": "Create a new user",
        "tags": ["Users"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["username", "password", "email"],
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "phone_number": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The user was successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Missing required fields"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "summary": "Get the user by id",
        "tags": ["Users"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The user id"
          }
        ],
        "responses": {
          "200": {
            "description": "The user description by id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "404": {
            "description": "The user was not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "summary": "Remove the user by id",
        "tags": ["Users"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Requires Owner or Admin privileges",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The user id"
          }
        ],
        "responses": {
          "200": {
            "description": "The user was deleted"
          },
          "404": {
            "description": "The user was not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "summary": "Update the user by the id",
        "tags": ["Users"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Requires Owner or Admin privileges",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The user id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "phone_number": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The user was updated"
          },
          "404": {
            "description": "The user was not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Dish": {
        "type": "object",
        "required": ["Name", "Price", "Ingredients"],
        "properties": {
          "DishID": {
            "type": "integer",
            "description": "The auto-generated id of the dish"
          },
          "Name": {
            "type": "string",
            "description": "The name of the dish"
          },
          "Price": {
            "type": "number",
            "format": "float",
            "description": "The price of the dish"
          },
          "Ingredients": {
            "type": "string",
            "description": "The ingredients of the dish"
          },
          "Image": {
            "type": "string",
            "description": "The URL path to the dish image"
          }
        },
        "example": {
          "DishID": 1,
          "Name": "Tonkotsu Ramen",
          "Price": 12.5,
          "Ingredients": "Pork, Noodles, Egg, Green Onion",
          "Image": "uploads/image-123456789.jpg"
        }
      },
      "Order": {
        "type": "object",
        "required": ["UserID"],
        "properties": {
          "OrderID": {
            "type": "integer",
            "description": "The auto-generated id of the order"
          },
          "UserID": {
            "type": "integer",
            "description": "The id of the user who placed the order"
          },
          "delivery_address": {
            "type": "string",
            "description": "The delivery address for the order"
          },
          "Ordered_at": {
            "type": "string",
            "format": "date-time",
            "description": "The date the order was placed"
          },
          "processing_at": {
            "type": "string",
            "format": "date-time"
          },
          "Delivering_at": {
            "type": "string",
            "format": "date-time"
          },
          "Completed_at": {
            "type": "string",
            "format": "date-time"
          },
          "Paid": {
            "type": "boolean",
            "description": "Whether the order has been paid"
          },
          "Status": {
            "type": "string",
            "enum": ["ordered", "processing", "delivering", "completed"],
            "description": "The status of the order"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "dishID": {
                  "type": "integer"
                },
                "quantity": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "price": {
                  "type": "number"
                }
              }
            }
          }
        },
        "example": {
          "OrderID": 1,
          "UserID": 1,
          "Ordered_at": "2023-10-27T10:00:00Z",
          "Paid": false,
          "Status": "ordered",
          "items": [
            {
              "dishID": 2,
              "quantity": 1,
              "name": "Miso Ramen",
              "price": 13.5
            }
          ]
        }
      },
      "User": {
        "type": "object",
        "required": ["username", "password", "email"],
        "properties": {
          "userID": {
            "type": "integer",
            "description": "The auto-generated id of the user"
          },
          "username": {
            "type": "string",
            "description": "The username"
          },
          "last_name": {
            "type": "string",
            "description": "The user's last name"
          },
          "password": {
            "type": "string",
            "description": "The user password"
          },
          "email": {
            "type": "string",
            "description": "The user email"
          },
          "address": {
            "type": "string",
            "description": "The user address"
          },
          "phone_number": {
            "type": "string",
            "description": "The user phone number"
          },
          "role": {
            "type": "string",
            "enum": ["user", "admin"],
            "description": "The user role"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "The date the user was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "The date the user was last updated"
          }
        },
        "example": {
          "userID": 1,
          "username": "johndoe",
          "email": "john@example.com",
          "address": "123 Ramen St"
        }
      }
    }
  },
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication endpoints"
    },
    {
      "name": "Dishes",
      "description": "The dishes managing API"
    },
    {
      "name": "Orders",
      "description": "The orders managing API"
    },
    {
      "name": "Users",
      "description": "The users managing API"
    }
  ]
}
